@inherits LayoutComponentBase

<Toast />

<div class="main">
    <div id="sidebar_container" class="float">
        <Sidebar />
    </div>

    <div id="main_container" class="float">
        @Body
    </div>
</div>

@code {
}